
<div class="container">
<iframe style="margin-top: 5%" height="300" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/383936336&amp;color=%23ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;show_teaser=true&amp;visual=true"></iframe>
<iframe height="300" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/383937692&amp;color=%23ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;show_teaser=true&amp;visual=true"></iframe>
</div>


<!--&lt;!&ndash; Button trigger modal &ndash;&gt;-->
<!--<button  [hidden]="true" id="openModal" #openModal type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">-->
  <!--Launch demo modal-->
<!--</button>-->
<!--&lt;!&ndash; Modal &ndash;&gt;-->
<!--<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">-->
  <!--<div class="modal-dialog" role="document">-->
    <!--<div class="modal-content">-->
      <!--<div class="modal-header">-->
        <!--<h5 class="modal-title" id="exampleModalLabel">Error</h5>-->
        <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
          <!--<span aria-hidden="true">&times;</span>-->
        <!--</button>-->
      <!--</div>-->
      <!--<div class="modal-body">-->
      <!--</div>-->
      <!--<div class="modal-footer">-->
        <!--<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->
